.input {
    width: 100%;
    border: 0;
    border-radius: 8px;
    background-color: var(--gray-500);
    padding: 16px;
    color: var(--gray-100);
}

.input::placeholder {
    font-size: 1rem;
    line-height: 140%;
    color: var(--gray-300);
}