main {
  width: 100%;
  max-width: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -25px;
}

.todo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
}

.tasks-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text.first {
  color: var(--blue);
}

.text {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--purple);
}

.count {
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 999px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-size: 12px;
  font-weight: 700;
}